/*
Thanks to the contribution of Mediumish WowThemes: https://www.wowthemes.net

*/


/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

.mainheading {
  padding:1rem 0rem;
}
a {
  color:#3fb5c5;
  transition:all 0.2s;
}

/* rotate figure */
.index-image {
  transition:all 0.8s;
}
.index-image:hover{
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}
a:hover {
  color: #142f61;
  text-decoration:none;
}
pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 0 0;
  border: #E3EDF3 1px solid;
  width: 100%;
  padding: 10px;
  /* font-family: Microsoft JhengHei,monospace, sans-serif; */
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 14px;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px;
}
/* a button for more about */
a.more-about{
  position: relative;
  /* font-family: Microso ft JhengHei; */
  /* font-family: 'ZCOOL XiaoWei', serif; */
  font-family: "Quicksand", Arial, sans-serif;
  /* left:6px; */
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 40px;
  background-color: rgb(240, 238, 238);
  color: #777;
  border-radius: 100px;
  font-size: 22px;
  transition: all 0.4s;
  letter-spacing: 0.2rem;
}
a.more-about:before{
  content:"";
  position: relative; 
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgb(240, 238, 238);
  border-radius:100px;
  transition:all 0.4s;
  z-index: -1;
}
a.more-about:hover:before{
  transform: scaleX(1.4) scaleY(1.6);
  opacity:0;
}
a.more-about:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2)
}
a.more-about:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* .chinese-about{
  font-family: 'ZCOOL XiaoWei', serif!important;
} */

.subsection-about  {
  letter-spacing: 1px;
  margin-bottom: 2em;
  margin-top: 2em;
}

.sub-section div{
  background-color: #f2f3f7; 
  border-radius: 5px; 
  padding: 20px;
}

.sub-section ul{
  margin-top: 1em;
  margin-bottom: 1em;
 /* line-height: 1.8; */
}
.skills{
  margin-top: 0;
}
/* add shadow to the links box */
.card{
  transition: all 0.4s;
}
.card:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2)
}
.card:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* footer icon animation */
.footer-icon {
  transition: all 0.4s;
}
.footer-icon:hover {
  transform: scaleX(1.2) scaleY(1.2);
}

.text-center {
  margin-top: 15px;
}

/* manu effect */

.navbar {
  /* position: fixed!important; */
  width: 100%;
  height: 4rem;
  z-index: 100;
  top:0rem;
}

.nav-item{
  letter-spacing: 0.1rem;
}
.navbar-brand span {
  /* font-family:monospace; */
  font-family: "Quicksand", Arial, sans-serif;
  color:rgba(0,0,0,.6);
  letter-spacing: 0.1rem;
}
.navbar-nav {
  display: flex;
}
.navbar-nav .nav-link:hover{
  transform:scale(1.1);
  opacity: 1;
  filter:blur(0);
}
.navbar-nav:hover a{
  filter:blur(2px);
  opacity:0.4;
}
.navbar-brand:hover {
  transform:scale(1.1);
  color:rgba(0,0,0,0);
  filter:blur(0);
  opacity: 1;
}

/* add clip card to MORE */
.clip-card {
  /* width: 1080px; */
  /* height: 550px; */
  position: relative;
  background-color: #e9f4f5;
  padding: 20px 80px 20px 20px;
  border-radius: 10px;
  transition: all 0.5s;
  /* clip-path: inset(1% 89% 86% 1%); */
  clip-path: ellipse(5% 6% at 6% 8%);
}
.clip-card:hover {
  clip-path: ellipse(70% 70%);
}


.mediumnavigation {
  background:rgba(255,255,255,.97);
  box-shadow:0 2px 2px -2px rgba(0,0,0,.15);
  transition: top 0.2s ease-in-out;
}
.main-content {
  min-height:300px;
}
.site-content {
  min-height: 60vh;
  padding-top: 0.5rem;
  margin-top: 10px;
  transition: all 0.4s;
}
section {
  margin-bottom:20px;
}
section.recent-posts {
  margin-bottom:0;
}
.section-title h2 {
  border-bottom:1px solid rgba(0,0,0,.125);
  margin-bottom:25px;
  font-weight:700;
  font-size:1.4rem;
  margin-bottom:27px;
}
.section-title span {
  border-bottom:1px solid rgba(0,0,0,.44);
  display:inline-block;
  padding-bottom:20px;
  margin-bottom:-1px;
}

.section-title p{
  font-family: 'Quicksand', 'ZCOOL XiaoWei';
}
.article-post ol, .article-post ul {
  margin-bottom: 1.5rem;
}
.article-post ol ol, .article-post ul ul {
  list-style: disc;
  margin-bottom: 0rem;
}
@media (min-width:576px) {
  .card-columns.listfeaturedtag {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width:992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    transition: all 0.3s;
    font-size: 22px;
    
  }
}

.listfeaturedtag {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.listfeaturedtag .wrapthumbnail {
  height: 290px;
  flex: 0 0 auto;
  height: 100%;
}
.maxthumb {
  max-height: 300px;
  overflow: hidden;
}
.listfeaturedtag .card, .card-footer {
  border: 0;
}
.listfeaturedtag .thumbnail {
  background-size: cover;
  height: 100%;
  display: block;
  background-position: 38% 22% !important;
  background-origin: border-box!important;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.listfeaturedtag .card-block {
  padding-left:0;
}
.listfeaturedtag h2.card-title,.listrecent h2.card-title {
  font-size:1.3rem;
  font-weight:700;
  line-height: 1.25;
}
.listfeaturedtag h4.card-text,.listrecent h4.card-text {
  color:rgba(0,0,0,.44);
  font-size:0.95rem;
  line-height:1.4;
  font-weight:400;
}
.wrapfooter {
  font-size:12px;
}
.author-thumb {
  width:40px;
  height:40px;
  float:left;
  margin-right:13px;
  border-radius:100%;
}
.post-top-meta {
  margin-bottom:2rem;
}
.post-top-meta .author-thumb {
  width:72px;
  height:72px;
}
.post-top-meta.authorpage .author-thumb {
  margin-top:40px;
}
.post-top-meta span {
  font-size:0.9rem;
  color:rgba(0,0,0,.44);
  display:inline-block;
}
.post-top-meta .author-description {
  margin-bottom:5px;
  margin-top:5px;
  font-size:0.95rem;
}
.author-meta {
  flex:1 1 auto;
  white-space:nowrap!important;
  text-overflow:ellipsis!important;
  overflow:hidden!important;
}
span.post-name,span.post-date,span.author-meta {
  display:inline-block;
}
span.post-date,span.post-read {
  color:rgba(0,0,0,.44);
}
span.post-read-more {
  align-items:center;
  display:inline-block;
  float:right;
  margin-top:8px;
}
span.post-read-more a {
  color:rgba(0,0,0,.44);
}
span.post-name a,span.post-read-more a:hover {
  color:rgba(0,0,0,.8);
}
.dot:after {
  content:"·";
  margin-left: 3px;
  margin-right: 3px;
}
.mediumnavigation .form-control {
  font-size: 0.8rem;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.04);
}
.mediumnavigation .form-inline {
  margin-left: 15px;
}
.mediumnavigation .form-inline .btn {
  margin-left: -50px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}
.mediumnavigation .form-inline .btn:hover,.mediumnavigation .form-inline .btn:active {
  background: transparent;
  color: #2e7bb9;
}
.mediumnavigation .navbar-brand {
  font-weight: 500;
  font-size: 22px;
}
.mediumnavigation .dropdown-menu {
  border: 1px solid rgba(0,0,0,0.08);
  margin: .5rem 0 0;
}
.mediumnavigation .nav-item,.dropdown-menu {
  font-size: 1.1rem;
  /* font-family: monospace; */
  font-family: "Quicksand", Arial, sans-serif;
  transition: 0.5s;
}
.mediumnavigation .search-icon {
  margin-left: -40px;
  display: inline-block;
  margin-top: 3px;
  cursor: pointer;
}
.mediumnavigation .navbar-brand img {
  max-height: 30px;
  margin-right: 5px;
} 
.mainheading h1.sitetitle {
  /* font-family: monospace,Microsoft JhengHei,Righteous; */
  font-family: "Quicksand", Arial, sans-serif;
}
.mainheading h1.posttitle {
  font-weight:500;
  margin-bottom:1rem;
}
.footer {
  border-top:1px solid rgba(0,0,0,.05)!important;
  padding-top:15px;
  padding-bottom:12px;
  font-size:0.8rem;
  color:rgba(0,0,0,.44);
  margin-top:50px;
  margin-bottom:62px;
  position: relative;
  background: #fff;
}
.link-dark {
  color:rgba(0,0,0,.8);
}
.article-post {
  /* font-family: Microsoft JhengHei, Merriweather; */
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 1.0rem;
  line-height: 1.84;
  color: rgba(0,0,0,.8);
}
blockquote {
  border-left:4px solid #2e7bb9;
  padding:0 20px;
  font-style:italic;
  color:rgba(0,0,0,.5);
}
.article-post p,
.article-post blockquote {
  margin: 0.5rem 0 0.5rem 0;
}
.featured-image {
  display:block;
  margin-bottom:1.5rem;
}
.share {
  text-align:center;
}
.share p {
  margin-bottom:10px;
  font-size:0.95rem;
}
.share ul li {
  display:inline-block;
  margin-bottom:9px;
}
.share ul {
  padding-left:0;
  margin-left:0;
}
.share ul li i.fa {
  border:1px solid #ddd;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
.svgIcon {
  vertical-align:middle;
}
@media (min-width:1024px) {
  .share {
    position:fixed;
    display:block;
  }
  .share ul li {
    display:block;
  }
}
@media (max-width:999px) {
  .listfeaturedtag .wrapthumbnail, .listfeaturedtag .col-md-7 {
    width:100%;
    max-width:100%;
    -webkit-box-flex: 0;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
  }
  .listfeaturedtag .wrapthumbnail {
    height:250px;
  }
  .listfeaturedtag .card {
    height:auto;
  }
  .listfeaturedtag .wrapfooter {
    position:relative;
    margin-top:30px;
  }
  .listfeaturedtag .card-block {
    padding:20px;
  }
  .footer {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media (max-width:1024px) {
  .post-top-meta .col-md-10 {
    text-align:center;
  }
}
@media (max-width:767px) {
  .post-top-meta.authorpage {
    text-align:center;
  }
}
.share,.share a {
  color:rgba(0,0,0,.44);
  fill:rgba(0,0,0,.44);
}
.graybg {
  background-color:#fafafa;
  padding:40px 0 46px;
  position:relative;
}
.listrelated .card {
  box-shadow:0 1px 7px rgba(0,0,0,.05);
  border:0;
}
ul.tags {
  list-style:none;
  padding-left:0;
  margin:0 0 3rem 0;
}
ul.tags li {
  display:inline-block;
  font-size:0.9rem;
}
ul.tags li a {
  background:rgba(0,0,0,.05);
  color:rgba(0,0,0,.6);
  border-radius:3px;
  padding:5px 10px;
}
ul.tags li a:hover {
  background:rgba(0,0,0,.07);
  text-decoration:none;
}
.margtop3rem {
  margin-top: 3rem;
}
.sep {
  height:1px;
  width:20px;
  background:#999;
  margin:0px auto;
  margin-bottom:1.2rem;
}
.btn.follow {
  border-color:#02B875;
  color:#1C9963;
  padding:3px 10px;
  text-align:center;
  border-radius:999em;
  font-size:0.85rem;
  display:inline-block;
}
.btn.subscribe {
  background-color:#1C9963;
  border-color:#1C9963;
  color:rgba(255,255,255,1);
  fill:rgba(255,255,255,1);
  border-radius:30px;
  font-size:0.85rem;
  margin-left:10px;
  font-weight:600;
  text-transform:uppercase;
}
.post-top-meta .btn.follow {
  margin-left:5px;
  margin-top:-4px;
}
.form-control::-webkit-input-placeholder {
  color: rgba(0,0,0,.5);
}
.form-control:-moz-placeholder {
  color: rgba(0,0,0,.5);
}
.form-control::-moz-placeholder {
  color: rgba(0,0,0,.5);
}
.form-control:-ms-input-placeholder {
  color: rgba(0,0,0,.5);
}
.form-control::-ms-input-placeholder {
  color: rgba(0,0,0,.5);
}
.authorpage h1 {
  font-weight: 700;
  font-size: 30px;
}
.post-top-meta.authorpage .author-thumb {
  float:none;
}
.authorpage .author-description {
  font-size:1rem;
  color:rgba(0,0,0,.6);
}
.post-top-meta.authorpage .btn.follow {
  padding:7px 20px;
  margin-top:10px;
  margin-left:0;
  font-size:0.9rem;
}
.graybg.authorpage {
  border-top:1px solid #f0f0f0;
}
.authorpostbox {
  width:760px;
  margin:0px auto;
  margin-bottom:1.5rem;
  max-width:100%;
}
.authorpostbox .img-thumb {
  width:100%;
}

.blog-content{
  margin: 0 auto; 
  max-width: 90.0rem; 
  width: 100%; 
  padding-left: 2.0rem; 
  padding-right: 2.0rem;
  font-family: "Quicksand", Arial, sans-serif;
}

.blog-content ul{
  margin: 3.2rem 0 3.2rem 0; 
  list-style: none; 
  padding: 0;
}

.blog-content li{
  font-size: 1.1rem; 
  @media only screen and (max-width : 768px) { margin: 1.6rem 0 1.6rem 0 };
}

.blog-content span{
  display: inline-block; 
  width: 10.0rem; 
  text-align: right; 
  margin-right: 2.0rem; 
  @media only screen and (max-width : 768px) { display: block; text-align: left };
}

.blog-content a{
  font-size: 1.1rem; 
  color: $fg-color; 
  font-weight: 500;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  /* font-family: Microsoft JhengHei,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; */
  font-family: "Quicksand", 'ZCOOL XiaoWei', Arial, sans-serif;
}

.about-text{
  font-family: "Quicksand", Arial, sans-serif;
  line-height: 2;
  
}
.article-post .h1, .article-post .h2, .article-post .h3, .article-post .h4, .article-post .h5, .article-post .h6, .article-post h1, .article-post h2, .article-post h3, .article-post h4, .article-post h5, .article-post h6 {
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.article-post img.shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
}
img {
  max-width:100%;
}
.bottompagination span.navigation {
  display:block;
  font-size:0.93rem;
  padding:15px 0 0 0;
  text-align:center;
  margin-bottom:0rem;
  color:#999;
  border-top:1px solid #ddd;
}
.pointerup {
  margin-bottom:-17px;
  margin-left:49%;
  font-size:30px;
}
.pointerup i.fa {
  color:#eaeaea;
}
.bottompagination span.navigation i {
  display:inline-block;
}
span.navigation {
  display: inline-block;
  font-size: 0.93rem;
  font-weight: 700;
  text-align:center;
}
.pagination {
  display:block;
}
iframe {
  max-width:100%;
}
.transpdark {
  background: rgba(0,0,0,0.75);
  color: #fff;
}
.mb-30px {
  margin-bottom:30px;
}
.flex-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
@media (min-width: 768px) {
  .flex-md-unordered {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .flex-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (max-width: 768px) {
  .share {
    margin-top:30px;
  }
}
.card .img-fluid {
  display: block;
  max-height: 300px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.index-title{
  color: rgba(0,0,0,.84);
  margin-top:20px;
  letter-spacing: 0.2rem;
}
.index-sub{
  color: rgba(0,0,0,.54);

}
.index-text{
  margin-top:20px;
  color: rgba(0,0,0,.44);
}
.index-image{
  width: 400px;
  /* padding: 5px; */
  border: 6px solid rgb(240, 240, 239);
}
.error{
  text-align: center !important;
}
@media(min-width: 769px){
  .md-nopad-right{
    padding-right: 0px !important;
  }
  .md-nopad-left{
    padding-left: 0px !important;
  }
}

.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
	border: 1px solid black;
	outline: none;
	display: block;
	position: relative;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

/* stuff for tabbed content */
.tabs {
	display: flex;
	flex-wrap: wrap;
}
.tabs label {
  order: 1;
  display: block;
  padding: 0.75rem 2rem;
  cursor: pointer;
  background: rgb(156, 156, 156);
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 0.5rem;
  background: #fff;
  margin-bottom: 1.5em;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"]:checked + label {
  background: rgb(236, 236, 236);
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

/* code folding button */
.code-folding-btn {
  margin-bottom: 3px;
  font-family: "Monaco";
  border: 1px solid grey;
  background: #F0F0F0;
  font-size: 14px;
  padding: 2px 5px 2px 5px;
  cursor: pointer;
}


/* timeline */

.timeline-centered {
  position: relative;
  margin-bottom: 30px; }

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table; }

.timeline-centered:after {
  clear: both; }

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table; }

.timeline-centered:after {
  clear: both; }

.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #f2f3f7;
  top: 20px;
  bottom: 20px;
  margin-left: 29px; }

.timeline-centered .timeline-entry {
  position: relative;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  clear: both; }

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -20px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: #2c98f0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f2f3f7;
  -webkit-box-shadow: 0 0 0 5px #f2f3f7;
  box-shadow: 0 0 0 5px #f2f3f7;
  line-height: 40px;
  float: left; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
    color: #fff; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2 {
    background: #f1acac; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3 {
    background: #f3d28b; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-4 {
    background: #e6b6ee; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-5 {
    background: #95b6b3; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
    background: #fff;
    width: 20px;
    height: 20px;
    margin-left: 10px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #f2f3f7;
  padding: 1.5em;
  margin-left: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f2f3f7 transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 20px;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h3 {
  font-size: 15px;
  font-style: italic;
  font-family: "Quicksand", Arial, sans-serif;
 -webkit-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  -ms-filter: alpha(opacity=40);
  filter: alpha(opacity=40);}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #000; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  -ms-filter: alpha(opacity=40);
  filter: alpha(opacity=40);
  font-size: 16px; }